@{ 
    Layout = "_NshopForUserLayout";
    var db = new Nshopsolution.Data.EF.EShopDbContext();
}
@model IEnumerable<CartItemViewModel>
@{ 
    double TotalPrice = 0;
}
<div class="Form-CheckOut">
    <div class="form-product-checkout">
        <h1>Thanh toán & mua hàng</h1>
        <div class="list-product-checkout">
            @foreach(var item in Model)
            {
            <div class="product-checkout">
                <img src="@item.Image" />
                <p class="title-product-checkout">@item.ProductName</p>
                <p class="abosolute-quantity">SL:@item.Quantity</p>
                <p class="price-of-product-checkout">@Nshopsolution.Data.Extention.SessionExtensions.ToVnd((double)item.ToTalPrice)</p>
            </div>
                TotalPrice += item.ToTalPrice;
            }
        </div>
        <div class="options-payment">
            <h2><i class="bi bi-currency-dollar"></i>Chọn hình thức thanh toán</h2>
            <input type="radio" name="optionpayment" checked/>
            <label for="optionpayment"><i class="bi bi-wallet2"></i>Thanh toán khi nhận hàng</label><br />
            <input type="radio" name="optionpayment" />
            <label for="optionpayment"><i class="bi bi-window-fullscreen"></i>Thanh toán bằng ví Momo</label><br />
            <input type="radio" name="optionpayment" />
            <label for="optionpayment"><i class="bi bi-credit-card-2-front"></i>Thanh toán bằng thẻ quốc tế</label><br />
        </div>
    </div>
    <div class="payment-checkout">
        @if (_SignInManager.IsSignedIn(User))
        {
            var user = db.AppUsers.FirstOrDefault(x => x.Email == User.Identity.Name);
        <div class="address-for-deliver custom-address-for-deliver">@*From ProDuctCart view*@
            <h2>Giao tới</h2>
            @*<a href="#" class="change-address">Thay đổi</a>*@
            <p>@user.FirstName @user.LastName<span class="vertical-line"></span>@user.PhoneNumber</p>
            <textarea disabled class="address-content" cols="4" rows="4">
                @user.Address
            </textarea>
        </div>
        }
        <div class="price-checkout">
            <h3>Thanh toán</h3>
            <p style="color:grey">Tạm tính  &emsp;</p><p>@Nshopsolution.Data.Extention.SessionExtensions.ToVnd(TotalPrice)</p><br />
            <p>Phí vận chuyển &emsp;</p><p>40.000đ</p><br />
            <p>Khuyến mãi &emsp;</p><p>-40.000đ</p><br />
            <p style="color:grey">Thành tiền  &emsp;</p><p style="color: var(--red-color-2);font-size:1.8rem;font-weight:600;">@Nshopsolution.Data.Extention.SessionExtensions.ToVnd(TotalPrice)</p><br />
            <p style="color:grey;">(Đã bao gồm VAT)</p>
        </div>
        <a asp-action="Pay" class="button-66 payment-button" style="width:fit-content;text-decoration:none;">Đặt hàng</a>
        <a asp-action="index" asp-controller="Home" class="button-83 payment-button">Quay lại cửa hàng</a><!--from ProductCart view-->
    </div>
</div>
