@model IEnumerable<Nshopsolution.Data.Entities.Product>
<div class="Main-Product-List">
    <div class="window-product">
        <div class="tab-search-product">
            <div class="input-search-group">
                <input class="form-control input-search" placeholder="Tìm sản phẩm ...." />
                <a class="btn btn-light btnsearch" href="#"><i class="bi bi-search"></i></a>
            </div>
            <div class="button-search">
                <span>Sắp xếp theo: </span>
                <a href="#" class="btn btn-light option-search">Khuyến mãi</a>
                <a href="#" class="btn btn-light option-search">Giá cao</a>
                <a href="#" class="btn btn-light option-search">Giá thấp </a>
                <a href="#" class="btn btn-light option-search">Sản phẩm mới </a>
            </div>
        </div>
        <div class="Flex-Product">
            @foreach(var item in Model)
            {
                <div class="box-product flex-box">
                    @*box-product đã có trong SlideProduct.css*@
                    <div class="detail-box-product">
                        <a href="#" class="discount button-62">@item.discount %</a>
                        <a class="link-box-product" asp-action="DetailProduct" asp-route-id="@item.idproduct"></a>
                        <span class="like-product-small"><i class="bi bi-heart"></i></span>
                        <img class="image-product-small" src="@item.ImageProduct">
                        <div class="name-product-small">@item.ProductName </div>
                        <div class="price-product-small">@SessionExtensions.ToVnd((double)item.OriginalPrice)</div>@*cần chỉnh lại*@
                        <a asp-controller="Transaction" asp-action="AddToCart" asp-route-id="@item.idproduct" class="buynow-product-small button-29">Thêm giỏ hàng</a>
                    </div>
                </div>

            }
        </div>
        <div class="flex-pagination">
            <ul>
                <li><i class="bi bi-chevron-double-left"></i></li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li><i class="bi bi-chevron-double-right"></i></li>
                <li class="bar-pagination"></li>
            </ul>

        </div>
    </div>
    <div class="Image-Advertisement-3">
        <img src="~/img/product/acer.jpg" />
        <img src="~/img/product/Untitled3.png" />
    </div>
</div>


