@model IEnumerable<Nshopsolution.Data.Entities.Product>
@{
    Layout = "_NshopForUserLayout";
}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Quản lý sản phẩm</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item ms-5">
                    <button class="btn btn-primary ms-5" id="addProduct" data-bs-toggle="modal" data-bs-target="#mdlExam">Thêm sản phẩm</button>
                </li>
                <li class="nav-item ms-5">
                    <button class="btn btn-primary" type="button">Nhập file Excel</button>
                </li>
                <li class="nav-item ms-5">
                    <button class="btn btn-primary" type="button">Xuất file Excel</button>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Nhập tên người dùng">
                <button class="btn btn-primary" type="button">Sreach</button>
            </form>
        </div>
    </div>
</nav>
<div>
    <table class="table table-bordered border-primary col-sm-9">
        <tr>
            <td>idProduct/td>
            <td>idCategory</td>
            <td>productName</td>
            <td>Quantity</td>
            <td>OriqinalPrice</td>
            <td>Rating</td>
            <td>Specifions</td>
            <td>ImageProduct</td>
            <td>Warranty</td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>@item.idproduct</td>
        <td>@item.IdCategory</td>
        <td>@item.ProductName</td>
        <td>@item.Quantity</td>
        <td>@item.OriginalPrice</td>
        <td>@item.Rating</td>
        <td>@item.Specifications</td>
        <td><img style="height:50px;width:50px;" src="~/img/product/@item.ImageProduct" /></td>
        <td>@item.Warranty</td>
        <td style="text-align:center">
            <a href="#">
                Sửa
            </a>||
            <a href="#">
                Xóa
            </a>
        </td>
    </tr>
        }
    </table>
</div>
<script type="text/javascript">
    function LoadDropCategory(text) {
        $.ajax({
            url: "@Url.Action("getDataCategory","Accounts")",
            type: "get",
            dataType: "json",
            success: function (data) {
                var obj = JSON.parse(data);
                console.log(obj);
                $("#select").empty();
                if (text == "") {
                    for (var i = 0; i < obj.length; i++) {
                        let IdCategory = obj[i]["IdCategory"];
                        $("#select").append("<option value=" + IdCategory + " >"
                            + obj[i]["CategoryOfName"] + "</option>");
                    }
                }
                else {
                    for (var i = 0; i < obj.length; i++) {
                        let IdCategory1 = obj[i]["IdCategory"];
                        if (text == IdCategory1) {
                            $("#select").append("<option value=" + IdCategory1 + " selected='selected'>"
                                + obj[i]["CategoryOfName"] + "</option>");
                        } else {
                            $("#select").append("<option value=" + IdCategory1 + ">"
                                + obj[i]["CategoryOfName"] + "</option>");
                        }
                    }
                }
            }
        });
    }

    $(document).on('click', '#addProduct', function () {
        var text = "";
        LoadDropCategory(text);
    });
    $(document).on('click', '#btnSubmit', function () {
        let IdCategory = $('#select').val();
        let ProductName = $('#txtProductName').val();// gán vulue cho ô input txt
        let Quantity = $('#txtQuantity').val();
        let OriginalPrice= $('#txtOriginalPrice').val();
        let Specifications = $('#txtSpecifications').val();
        let ImageProduct = $('#ImageProduct').val();
        var Warranty = $('#txtWarranty').val();
        
            $.ajax({
                url: '@Url.Action("AddProduct", "Accounts")',
                type: 'post',
                data: {
                  
                     IdCategory: IdCategory,
                     ProductName: ProductName,
                     Quantity: Quantity,
                     OriginalPrice: OriginalPrice,
                     Specifications: Specifications,
                     ImageProduct: ImageProduct,
                     Warranty: Warranty
                },
                success: function (data) {
                    //alert(data);
                    location.reload();
                }
            });

    });
</script>
<div class="modal" id="mdlExam">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="mdlExamLabel">Thêm sản phẩm</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="display: flex;flex-direction: column;align-items: center; justify-content:center">
                <input type="hidden" id="kiemtra" value="">
                <form action="Create">
                    <span id="name-check"></span>
                    <div class="form-group">
                        <label for="txaName" class="form-label" style="margin-bottom: 1px!important">IdCategory</label>
                        <select class="form-select" id="select" aria-label="Default select example">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txaName" class="form-label" style="margin-bottom: 1px!important">ProductName</label>
                        <textarea style="width: 330px;" class="form-control" id="txtProductName" rows="1"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="txaName" class="form-label" style="margin-bottom: 1px!important">Quantity</label>
                        <textarea style="width: 330px;" class="form-control" id="txtQuantity" rows="1"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="txaName" class="form-label" style="margin-bottom: 1px!important">OriginalPrice</label>
                        <textarea style="width: 330px;" class="form-control" id="txtOriginalPrice" rows="1"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="txaName" class="form-label" style="margin-bottom: 1px!important">Specifications</label>
                        <textarea style="width: 330px;" class="form-control" id="txtSpecifications" rows="1"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="exampleFormControlFile1">ImageProduct</label>
                        <input type="file" class="form-control-file" id="ImageProduct">
                    </div>

                    <div class="form-group">
                        <label for="txaName" class="form-label" style="margin-bottom: 1px!important">Warranty</label>
                        <textarea style="width: 330px;" class="form-control" id="txtWarranty" rows="1"></textarea>
                    </div>
                </form>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <a class="btn btn-success" id="btnSubmit">Xác nhận</a>
                </div>
            </div>
        </div>
    </div>
</div>

